html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #4c3b23;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: white;
  font-size: 18px;
  margin:0;
  padding:0'
}

#lighta {
  color: rgb(220, 251, 239);
}

#lighta:hover{
  color: rgb(118, 138, 129);
}

#darka{
  color: rgb(89, 105, 98);
}

#darka:hover{
  color: rgb(146, 185, 170);
}

#home {
  padding-bottom:50px;
}

#mentalHealth {
  background-color: #676d49 ;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 10px;
}

#elderly {
  background-color: #735b43;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 10px;
}

#children {
  background-color: #485024 ;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 10px;
}

.leaf-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.leaves {
  position: absolute;
}

.leaf1 {
  position: absolute;
  font-size: 50px;
  top: -800px;
  animation: fall 5s linear infinite;
}

.leaf2 {
  position: absolute;
  font-size: 55px;
  top: -800px;
  animation: fall2 6s linear infinite;
}

.leaf3 {
  position: absolute;
  font-size: 40px;
  top: -800px;
  left: -100px;
  animation: fall 4s linear infinite 1s;
}

.leaf4 {
  position: absolute;
  font-size: 45px;
  top: -800px;
  left: 300px;
  animation: fall6 4s linear infinite 1.5s;
}

.leaf5 {
  position: absolute;
  font-size: 25px;
  top: -800px;
  left: 1200px;
  animation: fall3 4s linear infinite 2s;
}

.leaf6 {
  position: absolute;
  font-size: 30px;
  top: -800px;
  left: -250px;
  animation: fall3 4s linear infinite 1.5s;
}

.leaf7 {
  position: absolute;
  font-size: 35px;
  top: -800px;
  left: -350px;
  animation: fall2 5s linear infinite 0.5s;
}

.leaf8 {
  position: absolute;
  font-size: 45px;
  top: -800px;
  left: 1500px;
  animation: fall3 5s linear infinite 0.5s;
}

.leaf9 {
  position: absolute;
  font-size: 35px;
  top: -800px;
  left: 1350px;
  animation: fall4 6s linear infinite 0.3s;
}

.leaf10 {
  position: absolute;
  font-size: 35px;
  top: -800px;
  left: 450px;
  animation: fall6 3.7s linear infinite 1.3s;
}

.leaf11 {
  position: absolute;
  font-size: 55px;
  top: -800px;
  left: 650px;
  animation: fall5 4.7s linear infinite 1.7s;
}

.leaf12 {
  position: absolute;
  font-size: 50px;
  top: -800px;
  left: 700px;
  animation: fall 5s linear infinite;
}

.leaf13 {
  position: absolute;
  font-size: 55px;
  top: -800px;
  left: 800px;
  animation: fall2 6s linear infinite;
}

.leaf14 {
  position: absolute;
  font-size: 40px;
  top: -800px;
  left: 1200px;
  animation: fall6 4s linear infinite 1s;
}

.leaf15 {
  position: absolute;
  font-size: 55px;
  top: -800px;
  left: 1400px;
  animation: fall3 5s linear infinite 1.5s;
}

.leaf16 {
  position: absolute;
  font-size: 45px;
  top: -800px;
  left: 1050px;
  animation: fall2 5s linear infinite 0.5s;
}

@keyframes fall {
  0% {
    top: -800px;
    transform: translateX(-100px) rotateX(180deg);
  }
  100% {
    top: -50px;
    transform: translateX(250px) rotateX(-180deg);
  }
}

@keyframes fall2 {
  0% {
    top: -800px;
    transform: translateX(50px) rotateX(-90deg);
  }
  100% {
    top: -50px;
    transform: translateX(-350px) rotateX(180deg);
  }
}

@keyframes fall3 {
  0% {
    top: -800px;
    transform: translateX(0px) rotateX(-180deg);
  }
  100% {
    top: -50px;
    transform: translateX(-400px) rotateX(180deg);
  }
}

@keyframes fall4 {
  0% {
    top: -800px;
    transform: translateX(0px) rotateY(-180deg);
  }
  100% {
    top: -50px;
    transform: translateX(-400px) rotateY(180deg);
  }
}

@keyframes fall5 {
  0% {
    top: -800px;
    transform: translateX(-100px) rotateY(180deg);
  }
  100% {
    top: -50px;
    transform: translateX(250px) rotateY(-180deg);
  }
}

@keyframes fall6 {
  0% {
    top: -800px;
    transform: translateX(-150px) rotateY(150deg);
  }
  100% {
    top: -50px;
    transform: translateX(300px) rotateY(-180deg);
  }
}

.card {
  background-color: #ebd7bf;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #4c3b23;
  transition: 0.3s;
  width: 400px;
  border-radius: 15px;
}

.card-container {
  display:flex;
  justify-content: space-around;
}

.card:hover {
  box-shadow: 0 0 8px 8px #b4a798c2;
}

.card-content {
  padding: 2px 16px;
}

.tab {
  overflow: hidden;
  background-color: #a6917b;
}

.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.tab button:hover {
  background-color: #e5d3b3;
}

.tab button.active {
  background-color: #f2e4cd;
}

.tabContent {
  display: none;
  color: black;
  padding: 6px 12px;
  background-color: #f2e4cd;
  border-top: none;
}

#benefits {
  text-align: left;
}

#question {
  color: #44786d;
  font-size: medium;
  font-weight: bold;
}

#canvas-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#petRadar-container {
  width: 500px;
  position: relative;
}

#adviceButton {
  color: #f4dfc9;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  background-color: #675a4a;
  border: 1px solid #aa9d85;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 6px 0px #3e341f;
  transition: all 0.1s;
}

#adviceButton:active {
  box-shadow: 0px 2px 0px #3e341f;
  position: relative;
  top: 2px;
}

#testButton {
  color: #ecf0f1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  background-color: #3f8f7e;
  border: 1px solid #58a997;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 6px 0px #135245;
  transition: all 0.1s;
}

#testButton:active {
  box-shadow: 0px 2px 0px #135245;
  position: relative;
  top: 2px;
}

.info {
  position: relative;
  border-radius: 10px;
  width: 350px;
  height: 300px;
  background-color: #fbe5c4;
  -webkit-box-shadow: 1px 1px 12px rgb(74, 56, 56);
  box-shadow: 1px 1px 12px rgb(74, 56, 56);
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.country {
  top: 0;
  position: absolute;
  color: #4c3b23;
  background-color: #ffe1b3;
  width: 350px;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px rgb(74, 56, 56);
  box-shadow: 1px 1px 12px rgb(74, 56, 56);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info:hover .country {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

#details {
  display: flex;
  justify-content: space-evenly;
}

.benefitCard-container {
  display: flex;
  justify-content: center;
}

.benefitCard {
  width: 800px;
  height: 400px;
  border-radius: 4px;
  display: flex;
  gap: 5px;
  padding: 0.4em;
}

.benefitCard p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.5s;
  background: #ebd7bf;
  border: 1px solid #4a3920;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefitCard p:hover {
  flex: 7;
}

.benefitCard p span {
  min-width: 15em;
  padding: 0.5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all 0.5s;
  color: #4a3920;
  letter-spacing: 0.1em;
}

.benefitCard p:hover span {
  transform: rotate(0deg);
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.inputAdvice input {
  background-color: rgb(220, 202, 182);
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 13em;
  border-radius: 1rem;
  color: rgb(95, 80, 80);
  box-shadow: 0 0.4rem rgb(220, 202, 182);
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.inputAdvice input:focus {
  outline-color: rgb(95, 80, 80);
}

#givenAdvice-container {
  display: flex;
  justify-content: center;
}

#givenAdvice {
  width: 700px;
  height: 200px;
  background-color: rgb(220, 202, 182);
  border: 1px solid rgb(95, 80, 80);
  padding: 10px;
  text-align: center;
  font-size: 15px;
  overflow: auto;
}

#convince {
  display: flex;
  justify-content: center;
}

.accordion {
  color: white;
  padding: 6px 12px;
  background-color: #a6917b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  border-top: none;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #7a7066;
}

.panel {
  padding: 0 18px;
  background-color: #f2e4cd;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: "\02795";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2796";
}

.map-container p span{
  padding: 0 20px;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
display: none;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #d1cab3;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #d1cab3;
  background-color: #504738;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}

.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}

.map-3d-wrap {
  width: 800px;
  height: 600px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.map-3d-wrapper {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}

.map-front, .map-back {
  width: 100%;
  height: 100%;
  background-color: #dacdb8;
  position: absolute;
  border-radius: 6px;
  transform-style: preserve-3d;
}

.map-back {
  transform: rotateY(180deg);
}

.checkbox:checked ~ .map-3d-wrap .map-3d-wrapper {
  transform: rotateY(180deg);
}

.center-wrap{
  position: absolute;
  color:#000;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
}

#mapGraph-container {
  display:flex;
  justify-content: center;
}