html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #4c3b23;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: white;
  font-size: 20px;
  margin:0;
  padding:0;
}

.alignment {
  padding: 0 30px 0 30px;
}

/*change the color of links when hovered over*/
#lighta {
  color: rgb(220, 251, 239);
}

#lighta:hover{
  color: rgb(148, 186, 168);
}

#darka{
  color: rgb(89, 105, 98);
}

#darka:hover{
  color: rgb(151, 183, 171);
}

#home {
  padding-bottom:50px;
}

/*color scheme of each section*/
#mentalHealth {
  background-color: #676d49 ;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: white;
  padding: 10px;
}

#elderly {
  background-color: #735b43;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: white;
  padding: 10px;
}

#children {
  background-color: #485024 ;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: white;
  padding: 10px;
}

#adopt {
  padding:0 0 40px 0;
}

/*leaves falling animation*/
.leaf-container {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: -50px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.leaves {
  position: absolute;
}

.leaf1 {
  position: absolute;
  font-size: 50px;
  top: -700px;
  animation: fall 4s linear infinite;
}

.leaf2 {
  position: absolute;
  font-size: 55px;
  top: -700px;
  animation: fall2 6.3s linear infinite;
}

.leaf3 {
  position: absolute;
  font-size: 40px;
  top: -700px;
  left: -100px;
  animation: fall 5s linear infinite 1s;
}

.leaf4 {
  position: absolute;
  font-size: 45px;
  top: -700px;
  left: 300px;
  animation: fall6 5.8s linear infinite 1.5s;
}

.leaf5 {
  position: absolute;
  font-size: 25px;
  top: -700px;
  left: 1200px;
  animation: fall3 4s linear infinite 2s;
}

.leaf6 {
  position: absolute;
  font-size: 30px;
  top: -700px;
  left: -250px;
  animation: fall3 4.8s linear infinite 1.5s;
}

.leaf7 {
  position: absolute;
  font-size: 35px;
  top: -700px;
  left: -350px;
  animation: fall2 4s linear infinite 0.5s;
}

.leaf8 {
  position: absolute;
  font-size: 45px;
  top: -700px;
  left: 1500px;
  animation: fall3 6s linear infinite 0.7s;
}

.leaf9 {
  position: absolute;
  font-size: 35px;
  top: -700px;
  left: 1350px;
  animation: fall4 6s linear infinite 0.3s;
}

.leaf10 {
  position: absolute;
  font-size: 35px;
  top: -700px;
  left: 450px;
  animation: fall6 3.7s linear infinite 1.3s;
}

.leaf11 {
  position: absolute;
  font-size: 55px;
  top: -700px;
  left: 650px;
  animation: fall3 4.7s linear infinite 1.7s;
}

.leaf12 {
  position: absolute;
  font-size: 50px;
  top: -800px;
  left: 700px;
  animation: fall 4.3s linear infinite;
}

.leaf13 {
  position: absolute;
  font-size: 55px;
  top: -700px;
  left: 800px;
  animation: fall2 6s linear infinite;
}

.leaf14 {
  position: absolute;
  font-size: 40px;
  top: -700px;
  left: 1200px;
  animation: fall6 4.4s linear infinite 1s;
}

.leaf15 {
  position: absolute;
  font-size: 55px;
  top: -700px;
  left: 1400px;
  animation: fall 6s linear infinite 1.5s;
}

.leaf16 {
  position: absolute;
  font-size: 45px;
  top: -700px;
  left: 1050px;
  animation: fall2 5s linear infinite 0.5s;
}

@keyframes fall {
  0% {
    top: -700px;
    transform: translateX(-100px) rotateX(180deg);
  }
  100% {
    top: -90px;
    transform: translateX(250px) rotateX(-180deg);
  }
}

@keyframes fall2 {
  0% {
    top: -700px;
    transform: translateX(50px) rotateX(-90deg);
  }
  100% {
    top: -90px;
    transform: translateX(-350px) rotateX(180deg);
  }
}

@keyframes fall3 {
  0% {
    top: -700px;
    transform: translateX(0px) rotateX(-180deg);
  }
  100% {
    top: -90px;
    transform: translateX(-400px) rotateX(180deg);
  }
}

@keyframes fall4 {
  0% {
    top: -800px;
    transform: translateX(0px) rotateY(-180deg);
  }
  100% {
    top: -80px;
    transform: translateX(-400px) rotateY(180deg);
  }
}

@keyframes fall5 {
  0% {
    top: -700px;
    transform: translateX(-100px) rotateY(180deg);
  }
  100% {
    top: -80px;
    transform: translateX(250px) rotateY(-180deg);
  }
}

@keyframes fall6 {
  0% {
    top: -700px;
    transform: translateX(-150px) rotateY(150deg);
  }
  100% {
    top: -90px;
    transform: translateX(300px) rotateY(-180deg);
  }
}

/*cards in the homepage to redirect users to different sections of the website*/
.card {
  background-color: #ebd7bf;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #4c3b23;
  transition: 0.3s;
  width: 400px;
  border-radius: 15px;
}

.card-container {
  display:flex;
  justify-content: space-around;
}

.card:hover {
  box-shadow: 0 0 8px 8px #b4a798c2;
}

.card-content {
  padding: 2px 16px;
}

/*"Yes" and "No" tabs under "Do you own a pet?"*/
.tab {
  overflow: hidden;
  background-color: #a6917b;
}

.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.tab button:hover {
  background-color: #e5d3b3;
}

.tab button.active {
  background-color: #f2e4cd;
}

.tabContent {
  display: none;
  color: black;
  padding: 6px 12px;
  background-color: #f2e4cd;
  border-top: none;
}

#question {
  color: #44786d;
  font-size: medium;
  font-weight: bold;
}

#canvas-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#petRadar-container {
  width: 500px;
  position: relative;
}

/*"submit response" button under the "giving advice" part under the "Yes" tab*/
#adviceButton {
  color: #f4dfc9;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  background-color: #675a4a;
  border: 1px solid #aa9d85;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 6px 0px #3e341f;
  transition: all 0.1s;
}

#adviceButton:active {
  box-shadow: 0px 2px 0px #3e341f;
  position: relative;
  top: 2px;
}

/*"get results" button for the personality quiz under the "No" tab*/
#testButton {
  color: #ecf0f1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  background-color: #3f8f7e;
  border: 1px solid #58a997;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 6px 0px #135245;
  transition: all 0.1s;
}

#testButton:active {
  box-shadow: 0px 2px 0px #135245;
  position: relative;
  top: 2px;
}

/*content of each adoption card*/
.info {
  position: relative;
  border-radius: 10px;
  width: 350px;
  height: 300px;
  background-color: #fbe5c4;
  -webkit-box-shadow: 1px 1px 12px rgb(74, 56, 56);
  box-shadow: 1px 1px 12px rgb(74, 56, 56);
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

/*title of each adoption card*/
.country {
  top: 0;
  position: absolute;
  color: #4c3b23;
  background-color: #ffe1b3;
  width: 350px;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px rgb(74, 56, 56);
  box-shadow: 1px 1px 12px rgb(74, 56, 56);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info:hover .country {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

#details {
  display: flex;
  justify-content: space-evenly;
}

/*benefits in each section*/
.benefitCard-container {
  display: flex;
  justify-content: center;
}

.benefitCard {
  width: 900px;
  height: 450px;
  border-radius: 4px;
  display: flex;
  gap: 5px;
  padding: 0.4em;
}

.benefitCard p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.5s;
  background: #ebd7bf;
  border: 1px solid #4a3920;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefitCard p:hover {
  flex: 7;
}

.benefitCard p span {
  min-width: 15em;
  padding: 0.5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all 0.5s;
  color: #4a3920;
  letter-spacing: 0.1em;
}

.benefitCard p:hover span {
  transform: rotate(0deg);
}

/*textboxes for the "giving advice" part under the "Yes" tab*/
.inputAdvice input {
  background-color: rgb(220, 202, 182);
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 13em;
  border-radius: 1rem;
  color: rgb(95, 80, 80);
  box-shadow: 0 0.4rem rgb(220, 202, 182);
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.inputAdvice input:focus {
  outline-color: rgb(95, 80, 80);
}

#givenAdvice-container {
  display: flex;
  justify-content: center;
}

#givenAdvice {
  width: 700px;
  height: 200px;
  background-color: rgb(220, 202, 182);
  border: 1px solid rgb(95, 80, 80);
  padding: 10px;
  text-align: center;
  font-size: 15px;
  overflow: auto;
}

/*accordions under the "No" tab*/
.accordion {
  color: white;
  padding: 6px 12px;
  background-color: #a6917b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  border-top: none;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #7a7066;
}

.section {
  padding: 0 18px;
  background-color: #f2e4cd;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: "\02795";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2796";
}

/*switching of views between 2 map graphs under the "Yes" tab*/
.map-container p span{
  padding: 0 20px;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
display: none;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #d1cab3;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #d1cab3;
  background-color: #504738;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}

.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}

.map-3d-wrap {
  width: 800px;
  height: 600px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.map-3d-wrapper {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}

.map-front, .map-back {
  width: 100%;
  height: 100%;
  background-color: #dacdb8;
  position: absolute;
  border-radius: 6px;
  transform-style: preserve-3d;
}

.map-back {
  transform: rotateY(180deg);
}

.checkbox:checked ~ .map-3d-wrap .map-3d-wrapper {
  transform: rotateY(180deg);
}

.center-wrap {
  position: absolute;
  color:#000;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
}

#mapGraph-container {
  display:flex;
  justify-content: center;
}

/*dog wagging its tail animation*/
.dog {
  background-color: #e3b26e;
  height: 35px;
  width: 55px;
  position: relative;
  top: -90px;
  left: 80%;
  border-radius: 0px 0px 0px 120px;
}

.dogBody {
  background-color: #e3b26e;
  height: 50px;
  width: 80px;
  position: relative;
  top: 20px;
  left: 35px;
  border-radius: 0px 0px 0px 25px;
}

.dogLeg1, .dogLeg2, .dogLeg3, .dogLeg4 {
  background-color: #e3b26e;
  height: 20px;
  width: 8px;
  position: relative;
}

.dogLeg1 {
  left: 50px;
  top: 15px;
}

.dogLeg2 {
  left: 65px;
  top: -4.5px;
}

.dogLeg3 {
  left: 92px;
  top: -24.5px;
}

.dogLeg4 {
  left: 107px;
  top: -44.5px;
}

.dogTail {
  width: 0;
  height: 0;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-bottom: 60px solid #e3b26e;
  position: relative;
  top: -150px;
  left: 90px;
  transform: rotate(40deg);
  transform-origin: bottom;
  animation: wag 1s infinite;
}

@keyframes wag {
  50%{
    transform: rotate(25deg);
  }
}

.dogEar{
  background-color: #916b34;
  width: 18px;
  height: 40px;
  border-radius: 0px 0px 100px 100px;
  position:relative;
  top: -190px;
  left: 37px;
}

.dogNose {
  background-color: #000;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  position: relative;
  top: -231px;
  left: -2px;
}

.dogEye {
  background-color: #000;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  position: relative;
  top: -231px;
  left: 25px;
}

.dogTongue {
  background-color: rgb(254, 124, 124);
  height: 7px;
  width: 4px;
  border-radius: 10px;
  position: relative;
  top: -215.5px;
  left: 10.5px;
  transform: rotate(45deg);
  animation: move 1s infinite;
}

@keyframes move {
  50%{
    transform: rotate(30deg);
  }
}

/*cat snoring animation*/
.cat {
  background-color: #f19b1a;
  height: 40px;
  width: 60px;
  border-radius: 0 80px 80px 0;
  position: relative;
  top: 107px;
  left: 280px;
  margin-top: -45px;
}

.catEar {
  height: 15px;
  width: 15px;
  background-color: #f19b1a;
  position: relative;
  top: -10px;
  left: 5px;
  border-radius: 20px 0 0 0;
  box-shadow: 22px 0 #f19b1a;
}

.catEye {
  height: 4px;
  width: 6px;
  border: 2px solid #2c2c2c;
  position: relative;
  border-radius: 0 0 10px 10px;
  border-top: none;
  top: -2px;
  left: 10px;
}

.catEye2 {
  height: 4px;
  width: 6px;
  border: 2px solid #2c2c2c;
  position: relative;
  border-radius: 0 0 10px 10px;
  border-top: none;
  top: -8px;
  left: 37.5px;
}

.catNose {
  background-color: #ffffff;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  box-shadow: 10px 0 #ffffff;
}

.catNose:before {
  content: "";
  width: 12px;
  height: 8px;
  position: absolute;
  background-color: #ffffff;
  left: 4px;
}

.catNose:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 8px solid #ef926b;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: 4px;
  left: 4px;
}

.catMouth {
  background-color: #2c2c2c;
  height: 10px;
  width: 13px;
  position: absolute;
  border-radius: 0 0 5px 5px;
  top: 26px;
  left: 22.5px;
  animation: mouth-move 2s infinite;
  transform-origin: top;
}

@keyframes mouth-move {
  50% {
    transform: scaleY(0.5);
  }
}

.catBody{
  background-color: #f19b1a;
  height: 60px;
  width: 100px;
  position: relative;
  top: -47px;
  left: -90px;
  border-radius: 60px 60px 0 0;
  animation: sleep 2s infinite;
  transform-origin: bottom right;
}

@keyframes sleep {
  50%{
    transform: scale(0.9, 1.05);
  }
}

.catTail {
  background-color: #d07219;
  height: 15px;
  width: 80px;
  position: absolute;
  top: 25px;
  left: -125px;
  border-radius: 20px 0 0 20px;
}

.catBody:before {
  content: "";
  background-color: #ffffff;
  height: 10px;
  width: 22px;
  border-radius: 6px;
  position: absolute;
  top: 50px;
  left: 12px;
  box-shadow: 33px 0 #ffffff;
}

.catBubble {
  height: 15px;
  width: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 5px;
  left: 43px;
  border-radius: 50px 50px 50px 5px;
  animation: bubble-scale 2s infinite;
}

@keyframes bubble-scale {
  50% {
    transform: scale(1.3);
  }
}