body {
  background-color: #867b69;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: white;
}

p {
  margin-left: 100px;
  margin-right: 100px;
}

a {
  color: rgb(202, 242, 228);
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:40px;
}

.tab {
  overflow: hidden;
  background-color: #a6917b;

}

.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tab button:hover {
  background-color: #E5D3B3;
}

.tab button.active {
  background-color: #f2e4cd;
} 

.tabcontent {
  display: none;
  color: black;
  padding: 6px 12px;
  background-color: #f2e4cd;
  border-top: none;
}

.plot-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#benefits {
  text-align: left;
}

#question {
  color:#44786d;
  font-size: medium;
  font-weight: bold;
}

#canvas-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#petradar-container {
  width: 500px;
  position: relative;
}

#darkcolor {
  color: rgb(89, 105, 98);
}